# IDE
.idea/
.vscode/
.vs

# CMake
cmake-build-debug
cmake-build-release

# make
build/
out/

**/*.exe
**/*.out
**/*.o
**/senegal

docs/node_modules/
docs/build/

# Dart
test/.dart_tool/
test/.packages
test/pubspec.lock

## Profiling
profile
